<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
        <div class="container">
        <h1>SIGNUP</h1>
        <form class="form-group" action="/signup" method="POST">
            <div class="row m-1">
                <p class="col-2">USERNAME:</p>
                <input class="col form-control" type="text" name="username">
            </div>
            <div class="row m-1">
                <p class="col-2">PASSWORD:</p>
                <input class="col form-control" type="password" name="password">
            </div>
            <div class="row m-1">
                <input class="btn btn-primary m-1 col-2  form-control" type="submit">
                <input class="m-1 btn btn-primary col-2 form-control" type="reset">
            </div>
        </form>
    </div>    
</body>
</html>